@font-face {
  font-family: "Gobold";
  src: url("./fonts/fonts/Gobold\ Regular\ Italic.eot");
  src: local("☺"),
    url("./fonts/fonts/Gobold\ Regular\ Italic.woff") format("woff"),
    url("./fonts//fonts/Gobold\ Regular\ Italic.ttf") format("truetype"),
    url("./fonts/fonts/Gobold\ Regular\ Italic.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Conv Italic";
  src: url("./fonts/fonts/Gobold\ Bold\ Italic.woff");
}

@font-face {
  font-family: "Helvetica Neue Bold";
  src: url("./fonts/fonts/HelveticaNeueBold.woff");
}

.img-link {
  width: 100px;
  border: none;
  border-right: 2px solid black;
  padding: 10px;
  text-align: center;
}
.img-link img {
  width: 100%;
  height: auto;
  user-select: none;
}
.res-string {
  display: flex;
  align-items: center;
}
.info h1,
.info h2,
.info h3 {
  margin: 5px 0;
  font-family: "Gobold", sans-serif;
}
.info h1 {
  font-family: "Conv Italic", sans-serif;
  font-size: 22px;
}
.info h2 {
  font-size: 12px;
}
.info h3,
.phone-num a {
  font-family: "Helvetica Neue Bold", sans-serif;
}
.info {
  margin-left: 20px;
  width: 100%;
}
.form-inform {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 0 auto;
}
#result-form {
  margin: 0 auto;
  width: 600px;
  padding: 0 100px;
}
.form-inform input {
  margin: 10px 0;
  padding: 10px 0;
  outline: none;
  border: 1px solid rgba(128, 128, 128, 0.301);
  border-radius: 4px;
}
.form-inform input::placeholder {
  padding: 0 10px;
}
.form-inform input:focus {
  box-shadow: 2px 2px 5px rgb(0, 63, 0);
}
.phone-num {
  display: flex;
  align-items: center;
  justify-content: left;
}
.phone-num h3 {
  border-right: 1px solid black;
  padding-right: 10px;
}
.phone-num a {
  padding-left: 10px;
  text-decoration: none;
  color: black;
}
input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  width: 55px;
  margin: 0 auto;
  text-align: center;
}
#btn-save {
  margin: 10px auto;
  border: none;
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 10px 25px;
  cursor: pointer;
}
.none {
  display: none;
}